
body, html {
  height: 100%;
  width: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
}

a, a :visited {
	color: #222222;
	text-decoration: none;
}
header{
	background: #f0f0f0;
	border-bottom-color: #e03d4e;
	border-bottom-style: solid;

}



.logo{
	padding-top: 100px;
	padding-bottom: 100px:;

}

.nav {
	margin: 100px 500px 25px 500px;
	border-top: 1px #c0c0c0 solid;
	padding-right: 100px;
}

.nav a{
	color: #222222;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

a:hover, #active a{
	color:#e03d4e;
}
.nav li{
	padding: 25px; 
}
.nav ul li{
	list-style: none;
	display: inline;
	line-height: 100px;

}

.content{
	width:100%;
	margin-bottom: 800px;
	padding: 15px;
}

.content a{
	color: #e03d43;
	font-weight: bold;
}

.content ul{
	list-style-type: none;
}

.content li{
	display:inline;
}

.big{
	text-align:center;
	margin-bottom: 100px;
	margin-top:100px;
	padding: auto 300px auto 300px;
}

.three{
	padding-top: 100px;
	margin-left: 20%;
	margin-right:20%;
	border-top: 1px #c0c0c0 solid; 

}
.product{
	padding: 75px auto 75px auto;
	float:left;
	display:inline;
	margin:auto 15px auto 15px;

}
.product p{
	text-align:center;
	font-size: 15px;
	width:300px;
	margin-bottom: 10%;
}


.bottom-logo{
margin-top: 300px;
padding-top:75px;
background: #222222;
height:200px;
border-top-width: 15px;
border-top-style:solid;
border-top-color:#e03d4e;
}