
/*body, html {
  height: 100%;
  width: 100%;
}
*/
body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
}

a, a:visited {
	text-decoration: none;
}
header{
	background: #f0f0f0;
	border-bottom-color:blue;
	border-bottom-style: solid;
	/*border-bottom-width: 10px;
	height: 350px;*/
}

/*
.inner-wrapper{
  width:100px;
  margin:0 auto 0 auto;
}
  
*/

.logo{
	padding-top: 100px;
	/*margin:100px auto 75px auto;*/
}

.nav{
	text-transform: uppercase;
	margin-right: 50px;
}

.nav li{
	padding: auto 15px auto 15px; 
}
.nav ul li{
	list-style: none;
	display: inline;
	line-height: 100px;

}

.content{
	width:100%;
	/*box-sizing: border-box;*/
	margin: 0 auto 800px auto; 
	padding: 15px;
}
.content ul{
	list-style-type: none;
}

.content li{
	display:inline;
}

.big{
	text-align:center;
	margin-bottom: 100px;
	margin-top:100px;
}
.three{
	padding-top: 100px;
	margin-left: 20%;
	margin-right:20%; 

}
.product{
	box-sizing: border-box;
	padding: 75px auto 75px auto;
	float:left;
	display:inline;
	margin:auto 15px auto 15px;
}
.product p{
	text-align:center;
	font-size: 15px;
	width:300px;
}
.product img{
/*width:200px;*/
}

.bottom-logo{
margin-top: 300px;
padding-top:75px;
background:black;
height:200px;
border-top-width: 15px;
border-top-style:solid;
border-top-color:red;
}