/* 
#0243238


*/

body {

	background-image: url("../img/backgrund.jpg");
}

/* Navigation*/
.nav ul li{
	list-style: none;
	display: inline-block;
	margin: 50px 50px 10px 50px;
}

.nav{
	text-align: center;
	margin-bottom: 100px;
}

#home {
	display: block;
	width: 250px;
	height: 100px;
	background-image: url("../img/button_template.jpg");
	background-position: 0 0;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#home:hover {
	background-position: 0 -100px;
}

#home:active {
	background-position: 0 -200px;
}

#work {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 300px 0px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#work:hover {
	background-position: 300px -100px;
}

#work:active {
	background-position: 300px -200px;
}

#about {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 0px 0px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#about:hover {
	background-position: 0px -100px;
}

#about:active {
	background-position: 0px -200px;
}

#contact {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 150px 0px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#contact:hover {
	background-position: 150px -100px;
}

#contact:active {
	background-position: 150px -200px;
}
/* Navigation End */

.content {
	display: inline;
	margin: 150px 10% auto 10%;
}

.content p {
	color: #243238;
	font-family: arial;
	font-size: 22px;
	line-height: 35px;
	text-indent: 45px;
	text-align: justify;
}

.right {
	width: 500px;
	float: right;
	margin-right:100px;
	margin-left:10%;
}

.left {
	float:left;
	width: 500px;
	margin-left: 100px;
	margin-right: 10%;
}