/* 
Black
#243238
Active links
#d21c5e

*/

body {

	background-image: url("../img/backgrund.jpg");
}

/* Navigation*/
.nav ul li{
	list-style: none;
	display: inline-block;
	margin: 50px 50px 50px 50px;
}

.nav{
	text-align: center;
	margin: 20px auto 0px auto;
}

#home {
	display: block;
	width: 250px;
	height: 100px;
	background-image: url("../img/button_template.jpg");
	background-position: 0 0;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#home:hover {
	background-position: 0 -100px;
}

#home:active {
	background-position: 0 -200px;
}

#work {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 300px 0px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#work:hover {
	background-position: 300px -100px;
}

#work:active {
	background-position: 300px -200px;
}

#work-on {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 300px -100px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#work-on:active {
	background-position: 300px -200px;
}

#about {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 0px 0px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#about:hover {
	background-position: 0px -100px;
}

#about:active {
	background-position: 0px -200px;
}

#about-on {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 0px -100px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#about-on:active {
	background-position: 0px -200px
}

#contact {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 150px 0px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#contact:hover {
	background-position: 150px -100px;
}

#contact:active {
	background-position: 150px -200px;
}

#contact-on {
	display: block;
	width: 150px;
	height: 100px;
	background-image: url("../img/nav_buttons.png");
	background-position: 150px -100px;
	text-indent: -15000px;
	line-height: 0px;
	font-size: 0px;
}

#contact-on:active {
	background-position: 150px -200px;
}

/* About Page */

.content {
	text-align: center;
	display: inline;
	margin: 50px 10 auto 0;
}

.content p {
	color: #243238;
	font-family: sans-serif, arial;
	font-size: 20px;
	line-height: 30px;
	text-indent: 45px;
	text-align: justify;
}

.right {
	width: 450px;
	margin-top: 100px;
	margin-right:100px;
	margin-left:700px;
}

.left {
	float:left;
	width: 450px;
	margin-left: 150px;
}




/* Work Page */


#grids {
  width: 940px;
  text-align: center;
  margin: 100px 24% 800px 24%;
}


.project {
  width: 220px;
  height: 180px;
  background: #cccccc;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

  .project img {
    height: 100%;
  }

  .project:hover {
    opacity: .65;
  }

  .last {
    margin-right: 0px;
  }

  /* Contact */

.contact-info {
	float:left;
	font-family: sans-serif, Arial, Helvetica;
	font-size: 22px;
	text-align: left;
	margin-top: 150px;
	margin-left: 25%;
}

.email a{
	color: #d21c5e;
	text-decoration: none;
}

#contact_image {
	float:right;
	margin-right: 150px;
}

/*Index image and Logo */
.index_image {
	text-align: center;
	margin-bottom: 100px;
}
